footer
{
    width:100%;
    margin-bottom: 40px;
    margin-top: 20px;
}
#contenido
{
    background-color: white;
}

#icono2
{
    font-style: italic;
    color: #C0C0C0;
}
#contenedor-carousel
{
    margin-top: 50px; 
    /*box-shadow: 0px 0px 20px rgba(0,0,0,0.5);*/   
}
#contenedor-nosotros
{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);  
}
#contenedor-serv
{
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#icono2, #barmenu
{
    margin-top: 6px;
}
#textpr
{
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
label
{
    font: bold; 
}
/*
#contenedor-trabajo{
    background-image:  url("../img/bg2.png");
    margin:0px;
    margin-top: 20px;
}*/
#trabajos
{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    margin-bottom: 20px;

}
#contenedor-trabajo-imagenes
{

}
.footer
{
    text-align: center;
}
h2, h3, p, label, input, .footer, .span6, #icono2, .span2
{
    font-family: 'Fenix', serif;
}
.nav li 
{
    font-family: 'Fenix', serif;   
}
#mapa iframe
{
    width: 350px;
    height: 300px;
}

.rotateinfinite
{
    -name: rotateinfinite;
    -webkit-animation-name: rotateinfinite;
    -timing-function: linear;
    -webkit-animation-timing-function: linear;
    -iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
}
 @keyframes rotateinfinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@-webkit-keyframes rotateinfinite {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@media (max-width: 480px){
    #mapa iframe{
        width:275px;
        height:245px;
        margin-left: 30px; 
    }
    #barra
    {
        color: #C0C0C0;
        font-size: 20px;
    }
    i{
        margin-left: 5px;
        width:20px;
        height:20px; 
    }
    .span6
    {
        text-align: left;
    }
    #contenedor-carousel
    {
        margin-top: 10px;
    }
}


/*Media Queries*/

/*Mobiles*/
