footer
{
    width:100%;
}
#contenido
{
    background-color: white;
}
body
{
    background-image: url(../img/bg2.png);
   
}
#contenedor-carousel
{
    margin: auto;
    
}
#contenedor-nosotros
{
    background-color: #777777;
    margin:0px;
}
#contenedor-serv
{
    background-color: #eed3d7;
    margin: auto;
}
#textpr
{
    background-image: url(../img/footer.png);
    border-radius: 10px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
label
{
    margin-left: 25px;
    font: bold; 
}
#contenedor-trabajo{
    background-image:  url("../img/bg2.png");
    border:1px solid yellow;
    margin:0px;
    margin-top: 20px;

}
#contenedor-trabajo select{
    margin:20px;
}
#contenedor-trabajo-imagenes{

    border:2px solid red;
}